#content-site-container {
    min-height: 790px;
}

.login-container {
    margin-top: 15%;
}

.btn-sm:hover, .btn-sm:focus {
    text-decoration: none;
}

.btn-custom {
    min-width: 150px;
}

.margin-top-minus-5 {
    margin-top: -5px;
}

.overflow-hidden {
    overflow: hidden;
}

.cursor-pointer {
    cursor: pointer;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-22 {
    font-size: 22px;
}

.width-30 {
    width: 30px;
}

.width-70 {
    width: 70px;
}

.width-120 {
    width: 120px;
}

.width-170 {
    width: 170px;
}

.width-250 {
    width: 250px;
}

.height-40 {
    height: 40px;
}

.height-120 {
    height: 120px;
}

.height-250 {
    height: 250px;
}

.max-width-250 {
    max-width: 250px;
}

.min-width-250 {
    min-width: 250px;
}

.max-height-40 {
    max-height: 40px;
}

.max-height-350 {
    max-height: 350px;
}

.top-0 {
    top: 0;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

.table-borderless tr td,
.table-borderless tr th {
    border: 0;
}

.table-paddingless tr td,
.table-paddingless tr th {
    padding: 0;
}
