<div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h6 class="border-top pt-3 pb-3 text-center">
                    <i class="far fa-copyright"></i> 2018-2019 TradeSoft Design
                </h6>
            </div>
        </div>
    </div>
</div>

</body>

<script type="text/javascript" src="//{$CONF.sitepath}lib/index.js"></script>

</html>
