#content-site-container {
    min-height: 600px;
}

#content-platform-container {
    min-height: 790px;
}

.login-container {
    margin-top: 15%;
}

.btn-sm:hover, .btn-sm:focus {
    text-decoration: none;
}

.btn-custom {
    min-width: 150px;
}

.margin-top-minus-5 {
    margin-top: -5px;
}

.margin-top-minus-70 {
    margin-top: -70px;
}

.overflow-hidden {
    overflow: hidden;
}

.cursor-pointer {
    cursor: pointer;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-22 {
    font-size: 22px;
}

.width-30 {
    width: 30px;
}

.width-70 {
    width: 70px;
}

.width-120 {
    width: 120px;
}

.width-140 {
    width: 140px;
}

.width-170 {
    width: 170px;
}

.width-250 {
    width: 250px;
}

.height-30 {
    height: 30px;
}

.height-40 {
    height: 40px;
}

.height-120 {
    height: 120px;
}

.height-250 {
    height: 250px;
}

.max-width-250 {
    max-width: 250px;
}

.min-width-250 {
    min-width: 250px;
}

.max-height-40 {
    max-height: 40px;
}

.max-height-350 {
    max-height: 350px;
}

.cart-info-table tr td {
    padding: 0.25em;
}

.img-hover img {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
    -moz-transition: all .3s ease; /* Firefox */
    -o-transition: all .3s ease; /* IE 9 */
    -ms-transition: all .3s ease; /* Opera */
    transition: all .3s ease;
    position: relative;
}

.img-hover img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.20); /* Safari and Chrome */
    -moz-transform: scale(1.20); /* Firefox */
    -ms-transform: scale(1.20); /* IE 9 */
    -o-transform: translatZ(0) scale(1.20); /* Opera */
    transform: translatZ(0) scale(1.20);
}

.table-borderless tr td,
.table-borderless tr th {
    border: 0;
}

.table-paddingless tr td,
.table-paddingless tr th {
    padding: 0;
}

.table-padding-1 tr td,
.table-padding-1 tr th {
    padding: 0.25em 0.5em;
}

.top-0 {
    top: 0;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

.background-turquoise {
    background-color: #69c1d3;
}

.cart-products-counter {
    width: 18px;
    height: 18px;
    line-height: 18px;
    left: 22px;
    font-size: 11px;
    position: absolute;
}

.box-type-person, .sub-box-type-person,
.box-type-delivery, .sub-box-type-delivery,
.sub-box-type-payment {
    display: none;
}
.vertical-webkit-middle {
    vertical-align: -webkit-baseline-middle;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Incarca";
}

.datepicker {
    padding: .375rem .75rem !important;
}

.border-width-5 {
    border-width: 5px !important;
}
