<div class="mb-3">
    <div class="box-hover">
        <div class="hovered">
            <a href="/lesson/{$lesson.url}" title="{$lesson.name}">
                <img src="/images/board.jpg" class="img-fluid">
                <h4 style="position: absolute;width: 100%;left: 0;text-align: center;color: wheat;top: 20%;padding: 0 15px;">{$lesson.name}</h4>
            </a>
        </div>
    </div>
</div>
