#content-site-container {
    min-height: 800px;
}

.login-container {
    margin-top: 15%;
}

.btn-sm:hover, .btn-sm:focus {
    text-decoration: none;
}

.btn-custom {
    min-width: 200px;
}

.margin-top-minus-5 {
    margin-top: -5px;
}

.margin-top-minus-70 {
    margin-top: -70px;
}

.overflow-hidden {
    overflow: hidden;
}

.cursor-pointer {
    cursor: pointer;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-22 {
    font-size: 22px;
}

.width-30 {
    width: 30px;
}

.width-70 {
    width: 70px;
}

.width-120 {
    width: 120px;
}

.width-140 {
    width: 140px;
}

.width-170 {
    width: 170px;
}

.width-250 {
    width: 250px;
}

.height-30 {
    height: 30px;
}

.height-40 {
    height: 40px;
}

.height-120 {
    height: 120px;
}

.height-250 {
    height: 250px;
}

.max-width-250 {
    max-width: 250px;
}

.min-width-250 {
    min-width: 250px;
}

.max-height-40 {
    max-height: 40px;
}

.max-height-350 {
    max-height: 350px;
}

.img-hover img {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
    -moz-transition: all .3s ease; /* Firefox */
    -o-transition: all .3s ease; /* IE 9 */
    -ms-transition: all .3s ease; /* Opera */
    transition: all .3s ease;
    position: relative;
}

.box-hover .hovered {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
    -moz-transition: all .3s ease; /* Firefox */
    -o-transition: all .3s ease; /* IE 9 */
    -ms-transition: all .3s ease; /* Opera */
    transition: all .3s ease;
    position: relative;
}

.img-hover img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.20); /* Safari and Chrome */
    -moz-transform: scale(1.20); /* Firefox */
    -ms-transform: scale(1.20); /* IE 9 */
    -o-transform: translatZ(0) scale(1.20); /* Opera */
    transform: translatZ(0) scale(1.20);
}

.box-hover .hovered:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.10); /* Safari and Chrome */
    -moz-transform: scale(1.10); /* Firefox */
    -ms-transform: scale(1.10); /* IE 9 */
    -o-transform: translatZ(0) scale(1.10); /* Opera */
    transform: translatZ(0) scale(1.10);
}

.div-hover h6 {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
    -moz-transition: all .3s ease; /* Firefox */
    -o-transition: all .3s ease; /* IE 9 */
    -ms-transition: all .3s ease; /* Opera */
    transition: all .3s ease;
    position: relative;
}

.div-hover h6:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.20); /* Safari and Chrome */
    -moz-transform: scale(1.20); /* Firefox */
    -ms-transform: scale(1.20); /* IE 9 */
    -o-transform: translatZ(0) scale(1.20); /* Opera */
    transform: translatZ(0) scale(1.20);
}

.top-0 {
    top: 0;
}

.right-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

.left-0 {
    left: 0;
}

.background-green {
    background-color: #5DB719;
}

.messages-counter {
    width: 20px;
    height: 20px;
    line-height: 20px;
    right: -5px;
    font-size: 14px;
    position: absolute;
}

.messages-counter-text {
    width: 24px;
    height: 24px;
    right: 5px;
    line-height: 24px;
    position: absolute;
}

.vertical-webkit-middle {
    vertical-align: -webkit-baseline-middle;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Incarca";
}

.datepicker {
    padding: .375rem .75rem !important;
}

.border-width-5 {
    border-width: 5px !important;
}

.border-width-2 {
    border-width: 2px !important;
}

.border-width-0 {
    border-width: 0 !important;
}

.list_litera {
    width: 100%;
    display: inline-block;
    color: #000;
    background-color: #eeeeee;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
}

.litera {
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
}

.list_litera_toti {
    border: 1px solid #eeeeee;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
    width: 90px;
}

.mai_mult {
    border: 1px solid #eeeeee;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 5px;
    padding: 0 10px;
    text-align: center;
}

.border-bottom-2, .border-bottom-2 {
    line-height: inherit;
    border-bottom: 2px solid #dee2e6 !important;
}

.border-bottom-2::after, .border-bottom-2::after {
    width: 100px;
    height: 2px;
    background-color: #007bff;
    content: "";
    position: absolute;
    display: block;
}

.border-bottom-5 {
    line-height: inherit;
    border-bottom: 5px solid #dee2e6 !important;
}

.border-bottom-5::after {
    width: 100px;
    height: 5px;
    background-color: #5DB719;
    content: "";
    position: absolute;
    display: block;
}

.description {
    border: 2px solid gray;
    border-radius: 10px;
    text-align: justify;
    padding: 10px;
}

.pagination {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
}

ul.pagination li {
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid #e5e5e5;
    float: left;
    line-height: 32px;
}

ul.pagination li a {
    border: 1px solid #eaeaea;
    background: #fff;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
    margin-right: 3px;
    padding: 6px 12px;
    text-decoration: none;
    color: #323131;
}

ul.pagination>.active>a, ul.pagination>.active>a:focus, ul.pagination>.active>a:hover,
ul.pagination>.active>span, ul.pagination>.active>span:focus, ul.pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

ul.pagination li:last-child {
    border-right: 1px solid #fff;
}

.search-cate {
    position: relative;
    border: 1px solid #dddddd;
    border-radius: 50px;
    padding-left: 20px;
    background: #fff;
    margin-bottom: 20px;
}

.search-cate input {
    border: none;
    height: 48px;
    padding: 0 20px;
    width: 95%;
    border-radius: 50px;
    outline: none !important;
}

.search-cate .submit {
    height: 44px;
    width: 44px;
    border-radius: 50%;
    background: #eeeeee;
    position: absolute;
    right: 2px;
    top: 2px;
    color: #555555;
    border: none;
}
