<h4 class="pb-3 mt-4 mb-3 border-bottom">
    Lista clase
    <a class="btn btn-primary float-right btn-custom" href="/admin/classes/add" role="button">
        <i class="fas fa-plus"></i> Adauga clasa
    </a>
</h4>

{if isset($successMessage)}
    <div class="alert alert-success" role="alert">
        {$successMessage}
    </div>
{/if}
{if isset($successMessageError)}
    <div class="alert alert-danger" role="alert">
        {$successMessageError}
    </div>
{/if}

<div class="col-sm-12 text-center mb-3">
    <a class="btn btn-secondary btn-custom" href="javascript:///" role="button"
       onclick="$('#filter_class').toggle('slow');">Filtre</a>
</div>

<form id="filter_class" method="POST" novalidate=""
      style="display:{if isset($smarty.post.filter_class)}block{else}none{/if}">
    <div class="form-group row">
        <label class="col-sm-6 col-form-label" for="class">
            Clasa
            <select name="class" class="form-control select2">
                <option value="" selected></option>
                {foreach from=$classes item=class}
                    <option value="{$class.id}"
                            {if isset($smarty.post.class) && $smarty.post.class eq $class.id}selected{/if}>
                        {$class.name}
                    </option>
                {/foreach}
            </select>
        </label>
        <label class="col-sm-6 col-form-label" for="status">
            Status
            <select name="status" class="form-control">
                <option value="" selected></option>
                <option value="active"
                        {if isset($smarty.post.status) && $smarty.post.status eq "active"}selected{/if}>
                    Clasa activa
                </option>
                <option value="inactive"
                        {if isset($smarty.post.status) && $smarty.post.status eq "inactive"}selected{/if}>
                    Clasa inactiva
                </option>
            </select>
        </label>

        <div class="col-sm-12 mt-2 text-center">
            <button type="submit" class="btn btn-success btn-custom" name="filter_class">Filtreaza</button>
        </div>
    </div>
</form>

<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Clasa</th>
        <th scope="col">Status</th>
        <th scope="col">Actiuni</th>
    </tr>
    </thead>

    {if $classesList}
        {assign var="curNumber" value=1}
        {foreach from=$classesList item=class}
            <tr>
                <th scope="row">{$curNumber++}</th>
                <td>{$class.name}</td>
                <td>{if $class.active == 1}Activ{else}Inactiv{/if}</td>
                <td>
                    <a href="/admin/classes/edit/{$class.id}" class="text-dark p-2"
                       data-toggle="tooltip" title="Editeaza clasa">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    {if $class.active == 1}
                        <a href="/admin/classes/disable/{$class.id}" class="text-dark p-2"
                           data-toggle="tooltip" title="Dezactiveaza clasa"
                           onclick="return confirm('Esti sigur ca vrei sa dezactivezi clasa?')">
                            <i class="fas fa-lock"></i>
                        </a>
                    {else}
                        <a href="/admin/classes/enable/{$class.id}" class="text-dark p-2"
                           data-toggle="tooltip" title="Activeaza clasa"
                           onclick="return confirm('Esti sigur ca vrei sa activezi clasa?')">
                            <i class="fas fa-unlock"></i>
                        </a>
                    {/if}
                </td>
            </tr>
        {/foreach}
    {else}
        <tr class="text-center">
            <td colspan="6">Niciun rezultat</td>
        </tr>
    {/if}
</table>
